html,body{
    margin: 0;
    padding: 0;
}

body {
    background: #faf8ef;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px; 
    color: #776e65;
    text-align: center;

    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.container {
    width: min(100% - 24px, 560px);
    display: flex;
    flex-direction: column;
}

.grid-container {
    width: auto;
    aspect-ratio: 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

/* colored tiles */

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}